# Postgres env data
POSTGRES_HOST=...
POSTGRES_PORT=...
POSTGRES_USER=...
POSTGRES_PASSWORD=...
POSTGRES_DB=...

# Redis env data
REDIS_HOST=...
REDIS_PORT=...
REDIS_PASSWORD=...
REDIS_DATABASE=...

# Identity service env data
IDENTITY_SERVICE_HOST=...
IDENTITY_SERVICE_PORT=...
IDENTITY_SERVICE_HMAC_SECRET=...

# API gateway env data
API_GATEWAY_HOST=...
API_GATEWAY_PORT=...
